.all {
    text-align: center;
}   

body {
    background-color: rgb(223, 223, 231);
    color: goldenrod;
}

#lable1 {
    color: red;
}

#lable2 {
    color: green;
}

#separator {
    font-weight: 900;
    color: black;
}
